# Google Service Account (DO NOT EXPOSE IN FRONTEND)
GOOGLE_PROJECT_ID=digmark-dahsboard
GOOGLE_CLIENT_EMAIL=admin-55@digmark-dahsboard.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMII...\n-----END PRIVATE KEY-----\n"

# Spreadsheet
GOOGLE_SHEET_ID=1o6FwXrLnSq5n9jeHT34oGPO3iINvKfbJ-AXnO6zcTGg
